h1{
    color:blue;
    background-color:lightpink;
    background-position: right;
    background-repeat: repeat;
    background-size: auto;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0cap;
    word-spacing: 0cqb;
    text-transform: capitalize;
    text-shadow: 0cm;
    text-overflow: ellipsis;
    list-style: square;
    
}
h2{
    color:deeppink;
    background-color:deepskyblue;
    background-position: left;
    background-size: contain;

}

h3{
    color:rosybrown;
    background-color: coral;
    background-position: center;
    background-size:cover;
}

p
{
    color:orangered;
}
