table{
    border:2px solid black;
    border-collapse:collapse;
}
th,td{
    border:1px , color=solid black;
    padding: 15px;
    text-align: center;
}
tr{
    border:1px solid black;

}
table{
    width:80%;

}
table{
    height:60px;
}
th,td{
    padding:20px;
}
tr:nth-child(odd)
{
    background-color: white;
    color:black;
}
tr:nth-child(even)
{
    background-color: black;
    color:white;
}
th{
    background-color: burlywood;
    color:cadetblue;
}